<h4> Por un lado llama al servicio dummy usando el generic-api
  y por otro lado cogemos los datos de userList y userHobbies de su signal de userService.
  Si en otro punto de la aplicación se ha cargado los datos de userList, los podremos ver aquí
</h4>
<br>
@if(!$error()){
  <p>DummyData: ({{$dummyData()?.id}}) {{$dummyData()?.status}}</p>
}
@else{
  <p>{{$error()}}</p>
}
<br>
@if($userList().length){
  @for(user of $userList(); track user.id){
  <div>
    <p>({{user.id}}) {{user.name}} {{user.surname}} - {{user.email}}
    </p>
  </div>
  }
}
<br>
<hobbie [$hobbies]="$hobbies()"></hobbie>