<div class="app-container">
  <p class="description">Versión V2: Como la V1 pero manejando el loading , error con un objeto clave - signal.
    La clave identifica el endpoint usado. Así podemos manejar si hay varios loadings - errors en una misma vista.
    El sevicio user-api se convierte en singleton ( provideIn: root)
  </p>
  <nav>
    <a routerLink="/home" routerLinkActive="active">HOME</a>
    <a routerLink="/dummy" routerLinkActive="active">DUMMY</a>
  </nav>
<router-outlet></router-outlet>
