<div class="app-container">
  <p class="description">Versión con generic-api.service que maneja el error y loading con signals.
    Tiene un sólo metodo para manejar las peticiones http, devolviendo un Observable T. 
    Luego los servicios que extienden de el se subscriben para manejar el payload y tratarlo como signals
  </p>
  <nav>
    <a routerLink="/home" routerLinkActive="active">HOME</a>
    <a routerLink="/dummy" routerLinkActive="active">DUMMY</a>
  </nav>
<router-outlet></router-outlet>
